:root {
    --main-color: #121212;
    --header-bgcolor: #0d1d3a;
    --tabs-bgcolor: #0d1d3a;
    --body-bgcolor: #ffffff;
    --main-button-bgcolor: #0d1d3a;
    --tab-selected-bgcolor: #0d1d3a;
    --popup-modal-bg: #f4f8ff;
    --elements-persent: 33.3%;
}


.download-div {
    gap: 12px
}

@media only screen and (min-width: 690px) {
    :root {
        --elements-persent: 25%;
        }
}

@media only screen and (min-width: 992px) {
    :root {
    --elements-persent: 20%;
    }
}

.download-div>button {
    flex: 1;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    background-color: var(--main-bgcolor);
    color: white;
}


body {
    background-color: var(--body-bgcolor);
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: auto;
    border: 4px solid var(--tab-selected-bgcolor);
    border-top: 0px;
    max-height: 100vh;
    min-height: 100vh;
    user-select: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;


}

.header {
    background-color: var(--header-bgcolor);

    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 12px;
    display: flex;
    gap: 10px;
    align-items: center;
}

main {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    padding: 12px;
    background-color: rgb(249, 249, 249);


    overflow-y: scroll;
}

.uploadcard {}

.uploadcard img {
    cursor: pointer;


}


#uplist {

    background-color: rgb(255, 255, 255);

    color: rgb(33, 33, 33);
    flex: 1;

    background-size: 100% 100%;
}

.uploadbody {
    width: 34px;
}

.uploadbody img {
    cursor: pointer;
}

.bushes {
    margin-left: auto;
    margin-right: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.choose-tab {
    background-color: rgb(220, 216, 216);
    display: flex;
    width: 100%;
    transition: 1s;
}

.choose-tab>button {

    border: none;
    padding: 6px;
    flex: 1px;
    cursor: pointer;
    font-weight: bold;
    color: beige;
    display: flex;

    justify-content: center;
    background-color: rgb(176, 175, 175);

    align-items: center;
}


.choose-tab2 {
    background: black;
    display: flex;
    width: 100%;
}

.choose-tab2>button {

    border: none;
    padding: 4px;
    flex: 1px;
    cursor: pointer;
    color: rgb(238, 230, 230);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--tab-selected-bgcolor);
    gap: 6%;


    align-items: center;




}


.hoverdark {
    transition: 0.2s;

}

.hoverdark:hover {
    transition: 0.2s;
    background-color: rgba(0, 0, 0, 0.165);
    border-radius: 12px;
}


.hoverimagematcher:active {
    background-color: rgba(110, 110, 110, 0.165);

}



.alert-out {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.367);

}

.alert {
    width: 320px;
    max-width: calc(80%);
    min-height: 200px;
    max-height: 100vh;
    overflow-y: scroll;
    background-color: var(--popup-modal-bg);
    display: flex;
    flex-direction: column;
    padding: 12px;
    justify-content: space-between;
    color: black;
    border: 4px solid var(--tab-selected-bgcolor);
}

.alert img {
    margin: auto;
    display: block;
}


 a {
    color: rgb(0, 171, 194);
}

.alert button {
    background-color: var(--main-button-bgcolor);
    color: white;
    outline: none;
    border: none;
    border-radius: 0px;
  
}

.alert button:hover {
    background-color: rgb(55, 55, 55);

}

.pagination {
    display: flex;
    min-height: 40px;
    width: 100%;


    padding: 8px;
    gap: 4px;

    overflow-x: scroll;
    overflow-y: hidden;

    background-color: rgb(223, 214, 214);


}

.pagination>div {
    padding: 2px;

    color: rgb(48, 46, 46);
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: fit-content;
    border-radius: 12px;
    min-width: 26px;
}

.pagination>div:hover {
    background-color: rgb(77, 82, 80);
    color: rgb(149, 149, 149)
}




::-webkit-scrollbar {
    width: 13px;
    height: 4px;
}





/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(97, 89, 89, 0.413);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #645f5f;
}




img {
    image-rendering: pixelated;
}







button:hover {
    cursor: pointer;
}


.head-img-loading {
    background-image: url(https://www.futurelifenow-online.com/wp-content/uploads/2022/12/loading-gif.gif);
    background-size: 100%;
    background-size: 60%;
    background-position: center;

    border-radius: 20%;
    background-repeat: no-repeat;
}


.body-img-loading {
    background-image: url(https://www.futurelifenow-online.com/wp-content/uploads/2022/12/loading-gif.gif);
    background-size: 100%;
    background-size: 60%;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.515);

    border-radius: 10%;
    background-repeat: no-repeat;
}



.agree-tos-button {
    background-color: black;
    color: white;
    outline: none;
    border: none;
    border-radius: 12px;

}



#upload-view-container {
    background-color: rgb(237, 237, 237);
    border-top: 1px solid black;
    position: relative;
    z-index: 6;


}



#upload-view {
    bottom: 0;
    right: 0;
    width: 100px;
    min-height: 90px;
    display: flex;
    justify-content: end;
    width: 100%;

    gap: 4px;
    padding: 8px;
    background-color: transparent;
    color: rgb(40, 38, 38);
    position: relative;
}


#upload-view button {
    background-color: black;
    border-radius: 5px;
    color: white;
    padding: 2px 8px;
    max-height: 26px;
}






#toggle-upload-tester-view {
    background-color: rgb(59, 59, 59);
    padding: 4px 12px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    position: absolute;
    top: -24px;
    left: 0
}

.progress-bar {
    margin-top: 20px;
    background-color: gray;
    height: 8px;
    width: 300px;
    max-width: 80%;
    border-radius: 8px;
    overflow: hidden;
    margin: auto;

}

.inner-progress-bar {
    background-color: greenyellow;
    width: 0;
    height: 100%;
    transition: 4s;
}