body {
    background-color: aliceblue;
    padding: 0;
    margin: 0;
    max-width: 800px;
    margin: auto;
    color: white;
    border: 2px solid black;
    padding: 18px;
    color: black;

}




.enter-button {
    padding: 12px;
    background-color: rgb(87, 108, 242);
    font-weight: bold;
    color: white;
    border-radius: 12px;
    width: 100%;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

a {
    text-decoration: none;
}




.div-container-button {
    display: flex;

}

main {}